// Dashboard
.dashboard-header {
  margin-bottom: 24px;
}

.dashboard-stat-card {
  border-radius: 8px !important;

  .ant-card-body {
    padding: 20px 24px !important;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon-wrap {
    width: 56px;
    height: 56px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dashboard-overview {
  margin-top: 24px;

  .ant-card {
    border-radius: 8px;
  }
}
